footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
}
.mainbox{
    border: 3px solid rgb(34, 77, 137);
    width: 610px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin: 20px;
}