.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-area{
  padding:0;
  list-style: none;
}
.list-area-item {
  border : 1px solid black;
}
.list-area-item.active {
  background-color: rosybrown;
  color: aliceblue;
}
.list-area-item+.list-area-item {
  border-top: none;
}
.newClass{
  width: 100%;
  height: 20px;
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
